body {
    font-family:'Times New Roman', Times, serif;
    font-size: 1.2em;
    background-image: url("/back2..webp");
    background-attachment: fixed;
    background-size:cover;
}
  
  
  
  h1 {
    font-size: 2em;
    text-align: center;
    text-transform: capitalize;

    
        display: inline; 
        padding: 5px;
        margin-left: 37%;
        margin-top: 25%;
       
        color: black;
        
        border-radius: 0.5em;
        text-decoration: underline;
      
       
    }
  
  
  form {
    margin: 0 auto;
    width: 60%;
    padding: 1em;
    border: 5px solid #CCC;
    border-radius: 1em;
    background-color: white;
    margin-top: 2%;
    border-color: black;
  }
  
 
 
#form{
    font-size: 20px;

    color: red;
}  